@import ../../style/variables.sass
@import ../../style/mixins.sass

.locationLabel
    font-family: $sans
    font-size: 2rem
    margin-bottom: 5px
    display: inline-block

.submitForm
    display: flex
    flex-direction: column
    align-items: center

.inputContainer
    width: 75%

    @media all and (max-width: 800px)
        width: 75%

        .input
            width: 100%

    @media all and (max-width: 700px)
        width: 90%

    @media all and (max-width: 485px)
        width: 100%

.userInputField
    width: 100%
    padding: 20px
    border: 2px solid lighten($darkblue, 10)
    border-radius: 0
    transition: all 0.5s ease
    font-size: 1.6rem

    &:hover,
    &:focus
        box-shadow: 4px 4px 0 transparentize($darkblue, 0.1)

label
    text-transform: uppercase

.input
    margin-bottom: 2rem

input:-webkit-autofill
    -webkit-box-shadow: 0 0 0px 1000px lighten($darkblue, 65) inset

.submitBtn
    width: 100%
    font-size: 1.8rem

    +button

    &:hover
        +buttonHover

    &:active
        +buttonActive

.button-container
    width: 50%
    margin: 50px 0

    @media all and (max-width: 800px)
        width: 75%

    @media all and (max-width: 700px)
        width: 90%

    @media all and (max-width: 485px)
        width: 100%

.chooserContainer
    display: flex
    flex-direction: row
    width: 100%
    padding: 0
    justify-content: space-between
    margin-bottom: 20px

    label
        width: 47.5%
        font-size: 1.6rem

        +button

        &:hover
            +buttonHover

        &:active
            +buttonActive

.chooserContainer #coffeeRadio:checked ~ label[for=coffeeRadio],
.chooserContainer #beerRadio:checked ~ label[for=beerRadio]
    +buttonActive

input[type=radio]
    margin: 0 10px
    display: none

.inputWrapper
    position: relative

.locationArrow
    display: none
    font-size: 25px
    position: absolute
    right: 2px
    bottom: 2px
    top: 2px
    width: 60px
    border: none
    background: transparent
    color: $lightgrey
    transition: all 0.3s ease
    &:hover,
    &:focus
        color: $darkgrey
        outline: none
    .supports_geo &
        display: block;
