@import ./normalize.scss
@import ./animate.scss
@import ./variables.sass
@import ./mixins.sass

html
    font-size: 16px
    font-family: $serif
    color: $darkblue
    min-height: 100%

body
    text-align: center
    background: linear-gradient(rgba($lightblue, 0.3), rgba($lightblue, 0.3)), url("../assets/images/patterns/shattered.png")

.wrapper
    max-width: 1000px
    margin: 50px auto
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("../assets/images/concrete_seamless.png")
    padding: 25px
    box-shadow: 10px 10px 0 transparentize($darkblue, 0.1)

    @media all and (max-width: 1020px)
        margin: 50px 20px

    @media all and (max-width: 800px)
        margin: 25px 20px

    @media all and (max-width: 485px)
        margin: 15px

h1,
h2,
h3,
h4
    font-family: $sans

.hide
    display: none
    transition: all 0.5s ease
