@import ../../style/variables.sass
@import ../../style/mixins.sass

h1
    text-transform: uppercase
    font-weight: 800
    font-size: 7.52rem
    letter-spacing: 3px
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.8), 8px 8px 0 transparentize($darkblue, 0.4)

    span
        color: $orange


    @media all and (max-width: 540px)
        font-size: 6.4rem

    @media all and (max-width: 485px)
        font-size: 5.6rem

    @media all and (max-width: 420px)
        font-size: 4rem
        text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.8), 5px 5px 0 transparentize($darkblue, 0.4)